.title-match-teams{
    text-align: center;
    border-bottom: 5px solid grey;
}

.title-match-home-away{
    text-align: center;
    border-bottom: 2px solid grey;
    background-color: #3B82F6;
    border-radius: .25em;
    color: white;
    cursor: pointer;
}

.line {
    border-bottom: 1px solid rgba(128, 128, 128, 0.481);
}